/* Module.scss */

.banner {
    background: url('../img/bcity copy.jpg') top center no-repeat;
    background-size: cover;
    height: 70%;
    height: 70vh;
    //text-align: center;
}

//.banner-title {
//    background-color: #fff;
//    border-radius: 9px;
//    color: #262626;
//    //display: inline-block;
//    line-height: 1;
//    padding: 8px;
//}
//
//.banner-title h1 {
//    font-size: 6em;
//    margin: 0;
//}
//
//.banner-title h2 {
//    font-size: 20em;
//    margin: 0;
//}
//
//.logo-background {
//    fill: pink;
//}

.logo-eye {
    fill: red;
}

.info-seattle, .info-links, .info-link {
    background-color: #646464;
}